<div id="map" style="width: 100%; height: 100%"></div>

<script type="module">
  import L from "https://cdn.skypack.dev/leaflet";
  // import "https://cdn.skypack.dev/@geoman-io/leaflet-geoman-free";

  const CENTER = {
    lat: 59.90325104612689,
    lng: 10.729951858520508,
  };

  var map = L.map("map", {
    minZoom: 0,
    maxZoom: 20
  }).setView(
    [CENTER.lat, CENTER.lng],
    15
  );
  window.map = map;

  var topolayer = new L.TileLayer.WMS(
    "http://opencache.statkart.no/gatekeeper/gk/gk.open", {
      layers: "norges_grunnkart",
      format: "image/png",
      transparent: false,
      version: "1.0",
      attribution: "Kartverket",
    }
  ).addTo(map);

  var southWest = new L.LatLng(63.28735, 10.58363),
    northEast = new L.LatLng(63.63414, 11.78317),
    bounds = new L.LatLngBounds(southWest, northEast);

  // map.pm.addControls({
  //   position: "topleft",
  //   drawCircle: false,
  // });

  // map.on("pm:drawend", (shape) => {
  //   const layers = [];
  //   map.eachLayer((layer) => {
  //     layers.push(layer);
  //   });
  //   console.log(
  //     JSON.stringify(
  //       layers.filter(({
  //         pm
  //       }) => pm).map((layer) => layer.toGeoJSON())
  //     )
  //   );
  // });

  const features = JSON.parse('<%== JSON.generate(@features) %>');
  L.geoJSON(features, {
    onEachFeature: function(f, l) {
      l.bindPopup("Loading...")


      function onMapClick(e) {
        var popup = e.target.getPopup()
        const {
          id
        } = f.properties
        fetch(`/locations/${id}/popup`)
          .then((data) => data.text())
          .then((html) => {
            popup.setContent(html)
          });

      }

      l.on("click", onMapClick)
    }
  }).addTo(map);
</script>