<!DOCTYPE html>
<html>
  <head>
    <title>Fjord CleanUP Data</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      html,
      body {
        height: 100%
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
